.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 20px;
  /* font-family: "Noto Serif", "Times New Roman", serif; */
  font-family: "Inter", "Arial", sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  min-height: 720px;
  max-height: 800px;
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 30px 80px 40px;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  height: 39px;
  width: 105px;
  position: relative;
  left: -50px;
}

.nav__links {
  display: flex;
  list-style-type: none;
  gap: 20px;
  margin: 0;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

.nav__link:hover {
  color: #1f69c9;
}
.header__image {
  max-width: 646px;
  position: absolute;
  right: 5px;
  top: 124px;
}

.header__title {
  max-width: 729px;
  margin: 183px 0 0;
  line-height: 72px;
  font-size: 60px;
  letter-spacing: -0.6px;
  font-weight: 500;
}

.header__span-accent {
  color: #2f80ed;
  font-style: italic;
  display: block;
  font-family: "Noto Serif";
  font-weight: normal;
  font-size: 60px;
}

.header__description {
  max-width: 683px;
  font-family: "Noto Serif";
  font-size: 20px;
  line-height: 30px;
  margin: 28px 0 0;
}

.header__footer {
  width: 100%;
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.header__paragraph {
  margin: 0;
  font-family: "Inter";
  font-weight: 500;
  font-size: 20px;
  color: #838383;
}

.recipes {
  padding: 100px 80px 215px;
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
}

.recipes__title {
  font-family: "Inter";
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0;
}

.recipes__subtitle {
  font-family: "Noto Seriff";
  font-size: 20px;
  line-height: 30px;
  max-width: 438px;
  margin: 24px 0 0;
}

.recipes__videos {
  display: flex;
  gap: 40px;
  justify-content: center;
  margin: 80px 0 0;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  font-family: "inter";
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin: 24px 0 0;
}

.recipes__video {
  width: 480px;
  height: 273px;
}
